.navbar__logo {
  width: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s;
}
.navbar__logo:hover {
  transform: scale(1.1);
}
.navbar .logo__wcrown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .logo__wcrown--top {
  display: flex;
}
.navbar .logo__top {
  border-top: solid 15px transparent;
  border-left: solid 10px blue;
  border-right: solid 10px blue;
}
.navbar .logo__wcrown--bottom {
  height: 5px;
  background-color: blue;
  width: 40px;
}
.navbar .logo__s {
  font-family: "Lobster", cursive;
  color: blue;
  font-size: 25px;
}
