.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 10px 10px 0 rgba(211, 211, 211, 0.5), 0 10px 10px 0 rgba(211, 211, 211, 0.5);
  z-index: 1;
}

.navstyle {
  width: 1024px;
  background-color: #f5f5f5;
}

.navbar {
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.navbar__logo {
  width: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s;
}
.navbar__logo:hover {
  transform: scale(1.1);
}
.navbar .logo__wcrown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .logo__wcrown--top {
  display: flex;
}
.navbar .logo__top {
  border-top: solid 15px transparent;
  border-left: solid 10px blue;
  border-right: solid 10px blue;
}
.navbar .logo__wcrown--bottom {
  height: 5px;
  background-color: blue;
  width: 40px;
}
.navbar .logo__s {
  font-family: "Lobster", cursive;
  color: blue;
  font-size: 25px;
}
.navbar__menu {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.navbar__menuitems {
  display: inline-block;
  text-decoration: none;
  color: grey;
  font-size: 20px;
}
.navbar__menuitems:hover {
  color: blue;
}
.navbar__menuitems::after {
  content: "";
  margin: auto;
  width: 0px;
  height: 2px;
  display: block;
  background: blue;
  transition: 0.5s;
}
.navbar__menuitems:hover::after {
  width: 50%;
}
.navbar .current {
  color: blue;
}
